[core]
# The folder where your airflow pipelines live, most likely a
# subfolder in a code repository. This path must be absolute.
dags_folder = C:/airflow/dags

# The folder where airflow should store its log files
# This path must be absolute
base_log_folder = C:/airflow/logs